body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f9f9f9;
  color: #333;
}

h1 {
  text-align: center;
  color: #6b3e26;
}

button {
  padding: 10px 20px;
  margin: 15px 0;
  background: #6b3e26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #8b5742;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

th {
  background: #6b3e26;
  color: white;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

.tabela-img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}
